.vadViGr {
  	width: 100%;
  	position: relative;
  	background-color: #f8fcff;
  	height: 834px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 16px;
  	color: #000;
  	font-family: 'Roboto Mono';
}
.vadViGrChild {
  	position: absolute;
  	top: 1963px;
  	left: 0px;
  	background-color: #ff0000;
  	width: 1441px;
  	height: 129px;
}
.freepikPlantInject6Icon {
  	position: absolute;
  	height: 26.82%;
  	width: 10.28%;
  	top: 65.92%;
  	right: 82.43%;
  	bottom: 7.26%;
  	left: 7.29%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	display: none;
}
.vadViGrItem {
  	position: absolute;
  	top: -356px;
  	left: 349px;
  	filter: blur(180px);
  	border-radius: 50%;
  	width: 453px;
  	height: 458px;
}
.webbdesignIt {
  	position: absolute;
  	top: 201px;
  	left: 798px;
  	font-size: 24px;
  	letter-spacing: -0.02em;
  	line-height: 120%;
  	display: inline-block;
  	color: #673bfb;
  	width: 570px;
  	height: 89px;
}
.ingaHinderKan {
  	position: absolute;
  	top: 275px;
  	left: 798px;
  	letter-spacing: -0.02em;
  	line-height: 120%;
  	font-family: 'Roboto Condensed';
  	display: inline-block;
  	width: 348px;
  	height: 296px;
}
.frnWebbsidaTill {
  	position: absolute;
  	top: 375px;
  	left: 989px;
  	letter-spacing: -0.02em;
  	line-height: 120%;
  	display: inline-block;
  	width: 187px;
  	height: 41px;
}
.aiIntegrering {
  	position: absolute;
  	top: 375px;
  	left: 798px;
  	letter-spacing: -0.02em;
  	line-height: 120%;
  	display: inline-block;
  	width: 187px;
  	height: 41px;
}
.behvsEnMobilapplikation {
  	position: absolute;
  	top: 420px;
  	left: 989px;
  	letter-spacing: -0.02em;
  	line-height: 120%;
  	font-family: Roboto;
  	display: inline-block;
  	width: 155px;
  	height: 103px;
}
.viHjlperEr {
  	position: absolute;
  	top: 407px;
  	left: 798px;
  	letter-spacing: -0.02em;
  	line-height: 120%;
  	font-family: 'Roboto Condensed';
  	display: inline-block;
  	width: 146px;
  	height: 48px;
}
.dinTechPartnerI {
  	position: absolute;
  	top: 67px;
  	left: 169px;
  	font-size: 36px;
  	letter-spacing: -0.02em;
  	line-height: 120%;
  	display: inline-block;
  	width: 436px;
  	height: 155px;
}
.lsMerContainer {
  	position: absolute;
  	top: 468px;
  	left: 798px;
  	letter-spacing: -0.02em;
  	line-height: 120%;
  	font-family: 'Rock Salt';
  	color: #543aab;
  	font-size: 12px;
}
.lsMer {
  	white-space: pre-wrap;
}
.span {
  	font-size: 10px;
}
.vadViGrLsMerContainer {
  	position: absolute;
  	top: 498px;
  	left: 989px;
  	letter-spacing: -0.02em;
  	line-height: 120%;
  	font-family: 'Rock Salt';
  	color: #543aab;
  	font-size: 12px;
}
.image5Icon {
  	position: absolute;
  	top: 201px;
  	left: 163px;
  	border-radius: 25px;
  	width: 436px;
  	height: 545px;
  	object-fit: cover;
}
.freepikCharacter2Inject6Icon {
  	position: absolute;
  	height: 43.15%;
  	width: 10.07%;
  	top: 48.8%;
  	right: 5.14%;
  	bottom: 8.05%;
  	left: 84.79%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.freepikCharacter1Inject6Icon {
  	position: absolute;
  	height: 44.62%;
  	width: 10.16%;
  	top: 48.8%;
  	right: 44.91%;
  	bottom: 6.58%;
  	left: 44.93%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}

